/* HeroSection.css */
.hero-section {

    background-color: transparent;

}

/* Style for the heading */
.clipped-text {
    font-family: 'Roboto', sans-serif;
    font-size: 65px !important;
    font-weight: bold;
    color: #e6d587;

    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 110px;
    margin-bottom: 60px;


}

.lead {
    font-size: 40px !important;
    margin-bottom: 20px;
}

/* Style for the button */
.shop-button {
    font-weight: bold;

    color: white;

    background-color: #e6d587 !important;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

/* Hover effect for the button */
.shop-button:hover {
    background-color: #0056b3;

}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.hero-image img {
    animation: floatAnimation 3s ease-in-out infinite;
}