.contact-body{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.container{
    width: 95% !important;
    margin: 0 auto;
    text-align: left;
}

.contact-title{
    text-align: start;
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 5px;
}

.contact-info{
    width: 50%;
}

#email{
    text-decoration: underline;
}

#email:hover{
   color: blue;
}