.contact-body{
    background-color: white;
}


.container{
    width: 95% !important;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 20px;
}

.contact-title{
    text-align: start;
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 5px;
}

.contact-info{
    width: 50%;
}

#email{
    text-decoration: underline;
}

#email:hover{
   color: blue;
}