.card {
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.card-title{
    font-weight: bolder;
    font-size: 40px
}

.card-info{
padding: 20px;
}

form .form-group label {
    text-align: left;
  }

.btn{
    background-color: blueviolet !important;
    border: none !important;
}