.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  z-index: 1050;
}

.logo-img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.nav-links ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 40px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(254, 243, 254);
  font-size: 22px;
  font-weight: bold;
}

.nav-links a:hover {
  color: #007bff;
}

.nav-login-cart {
  display: flex;
  align-items: center;
}

.nav-login-cart button {
  background-color: var(--button-color);
  color: #f6f6f6;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px 16px;
  transition: all 0.3s ease;
  margin-right: 20px;
}

.nav-login-cart button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: flex-start; /* Align items to the start of the column */
  }

  .nav-links ul {
    flex-direction: row; /* Change back to horizontal layout for smaller screens */
    justify-content: center; /* Center align links horizontally */
  }

  .nav-links li {
    margin: 0 10px; /* Adjust spacing between links */
  }
}