/* Navbar.css */

/* Base styles */
.navbar {
  background-color: #215269;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
  margin: 0 auto;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: white;
  font-size: 18px;
}

.nav-menu li {
  cursor: pointer;
}

.nav-menu li a {
  text-decoration: none;
  color: white;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 2px;
  border-radius: 5px;
  background: #6c3d3d;
}

.nav-login-cart button {
  width: 100px;
  height: 40px;
  background-color: #ffffff;
  color: #215269;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.nav-login-cart button:hover {
  background-color: #f0f0f0;
}

.nav-login-cart img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.nav-cart-count {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #215269;
  color: #ffffff;
  border-radius: 50%;
  font-size: 12px;
  margin-left: 5px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
    padding: 8px;
  }

  .nav-logo {
    margin-bottom: 16px;
  }

  .nav-menu {
    flex-direction: column;
    gap: 8px;
  }

  .nav-login-cart {
    margin-top: 16px;
  }

  .nav-login-cart button {
    width: 100%;
    margin-bottom: 8px;
  }
}
