.footer-container {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 100%;
}

.footertext {
    border-top: 2px solid #6633ee;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    margin: 50px 100px;
}

#icon {
    font-size: 25px;
    margin: 0 10px;
    transition: transform 0.2s ease-in-out;
}

#icon:hover {
    transform: scale(1.2);
}

