:root {
  --main-background-color: #f0f0f0;
  --text-color: #333;
  --primary-color: #007bff;
  --font: 'Roboto', sans-serif;
  --font-weight: normal;
  --font-style: normal;
  --button-color: #5532FA;
}

@font-face {
  font-family: 'Roboto';
  src: url(../src/Components/Font/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--main-background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
}

