:root {
  --main-background-color: #f0f0f0;
  --text-color: #333;
  --primary-color: #007bff;
  --font: 'Roboto', sans-serif;
  --font-weight: normal;
  --font-style: normal;
  --button-color: #5532FA;
}

@font-face {
  font-family: 'Roboto';
  src: url(../src/Components/Font/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
.App {
  min-height: 100vh;
}

body {
  background: linear-gradient(90deg, rgba(62, 62, 129, 1) 55%, rgba(18, 149, 176, 1) 100%);

  background-color: var(--main-background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
}

/* Discount Banner */

.discount-banner {
  background-color: #6633ee;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
}

.banner-text {
  animation: flashText 2s linear infinite;

}

@keyframes flashText {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}