:root {
  --main-background-color: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
  --text-color: #fdf6f6;
  --primary-color: #007bff;
  --font: 'Roboto', sans-serif;
  --font-weight: normal;
  --font-style: normal;
  --button-color: #5532FA;
}

@font-face {
  font-family: 'Roboto';
  src: url(../src/Components/Font/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
  background-color: var(--main-background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
}